
.banner {
  position: relative;
  width: 100%;
  height: 100vh; /* 使banner撐滿整個網頁 */
  overflow: hidden; /* 隱藏圖片超出部分 */
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 使圖片填滿整個容器 */
  opacity: 0.5; /* 調整透明度 */
}


/* 針對手機螢幕 */
@media (max-width: 767px) {
  .navigation a{
    display: none;
  }
  .logo img {
    width: 80px; /* 调整 logo 图片的宽度 */
  }
}

/* 針對平板電腦 */
@media (min-width: 768px) and (max-width: 1023px) {
  .navigation a{
    font-size: 20px; /* 调整导航菜单的字体大小 */
  }
}

/* 針對一般電腦 */
@media (min-width: 1024px) {
  .navigation a{
    font-size: 24px; /* 调整导航菜单的字体大小 */
  }
}
