.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .logo img {
    width: 100px; /* 調整 logo 圖片的寬度 */
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-left: 20px;
  }
  
  .navigation li:first-child {
    margin-left: 0;
  }
  
  .navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navigation a:hover {
    color: #555;
  }
  